body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

#logo {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

/* Barra de navegación */
#menu {
    text-align: center;
    margin: 20px 0;
}

#menu button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#menu button:hover {
    background-color: #0056b3;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imagenes img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.imagenes img:hover {
    transform: scale(1.1);
}

form input, form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #0056b3;
}